<h1 class = "">Blogposts</h1>

<div class = "test">
  <% @posts.each do |post| %>
    <div class="homepage_posts_wrapper">
      <div class= "homepage_posts_item">
        <p class="post_title"> <%= link_to post.title, post %> </p>
        <p class= "post_date">(vom <%= post.created_at %>)</p>
      </div>
    </div>
<% end %>
</div>
