/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require star-rating.js/dist/star-rating.css
 *= require_tree .
 *= require_self
 
 */


 *{
     margin: 0;
     padding: 0;
     font-size: 110%;
     font-family: serif;
 }

 .greeting{
     font-size: 35px;
     padding-bottom: 100px;
     padding-top: 100px;
 }

 .greeting_name{
     color: red;
     text-decoration: underline;
 }

.homepage_posts_wrapper{
    width: 31%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: gray;
    margin: 20px;
    border: 5px solid #000;
}

.homepage_posts_item{
    text-align: center;
    
}

.test{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 500px;
    flex-wrap: wrap;
    
}


:root {
    --gl-star-color: #fdd835;                     /* if using SVG images */
    --gl-star-color-inactive: #dcdce6;            /* if using SVG images */
    --gl-star-empty: url("/star-empty.svg");  /* if using background images */
    --gl-star-full:  url("/star-full.svg");    /* if using background images */
    --gl-star-size: 24px;
    --gl-tooltip-border-radius: 4px;
    --gl-tooltip-font-size: 0.875rem;
    --gl-tooltip-font-weight: 400;
    --gl-tooltip-line-height: 1;
    --gl-tooltip-margin: 12px;
    --gl-tooltip-padding: .5em 1em;
    --gl-tooltip-size: 6px;
}