// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post_title{
    a{
    margin-top: 20px;
    font-size: 20px;
    display: inline-block;
    color: gold;
        
    }
    a:hover{
        font-size: 25px;
        color: orange;
    }
    
}